# Homework 10:

For questions 1-4 use the orthologs.sqlite database we created in class (include the database in the directory with the homework when returning it to github).

__Exercise 1.__ Create a query that will return the gene name, cai value and sequence for all yeast genes with CAI values larger than 0.85.

In [4]:
import sqlite3 as sql
import pandas as pd
import numpy as np
# First connect to database
con = sql.connect("orthologs.sqlite")
# second create a cursor object
cur = con.cursor()

pd.read_sql("SELECT gene_name, cai, seq FROM cai, sequences WHERE cai>0.85", con)

       gene_name    CAI                                                seq
0          24882  0.893  TGACTGAAACTCCTGTGAAACCTTAGAAAGAATACCGCTATGAAAT...
1          25548  0.893  GGCAACTTGGCCGAGTGGTTAAGGCGAAAGATTAGAAATCTTTTGG...
2          24883  0.893  TAACCACTCGGCCAAGTTGCCTCTAATTCATACCTTATATAAGGCA...
3          24884  0.893  TTTGTTGGATGATCAATCTTTAAACAAATCATATATACCATTATTA...
4          25546  0.893  GCGCAAGTGGTTTAGTGGTAAAATCCAACGTTGCCATCGTTGGGCC...
...          ...    ...                                                ...
500290     Q0275  0.871  ATGACACATTTAGAAAGAAGTAGACATCAACAACATCCATTTCATA...
500291    R0010W  0.871  ATGCCACAATTTGGTATATTATGTAAAACACCACCTAAGGTGCTTG...
500292    R0020C  0.871  ATGAATGGCGAGAGACTGCTTGCTTGTATTAAGCAATGTATTATGC...
500293    R0030W  0.871  ATGCCTTATAAAACAGCTATAGATTGCATAGAAGAGTTAGCTACTC...
500294    R0040C  0.871  ATGGACGACATTGAAACAGCCAAGAATCTGACGGTAAAAGCACGTA...

[500295 rows x 3 columns]

__Exercise 2.__ Modify the query above to return the gene name in yeast, the gene names in the other three species, the cai value and the sequence for all yeat genes with a cai value larger that 0.8 and that have orthologs in the other three species.

In [11]:
pd.read_sql("""SELECT s1.gene_name AS gene_name,
  o.mikatae AS mikatae,
  o.paradoxus AS paradoxus,
  o.bayanus AS bayanus,
  c.CAI AS cai,
  s1.seq AS yeast_seq
FROM sequences AS s1
JOIN orthologs AS o ON s1.gene_name = o.cerevisiae
JOIN cai AS c ON s1.gene_name = c.title
WHERE c.CAI > 0.8
  AND o.mikatae IS NOT NULL
  AND o.paradoxus IS NOT NULL
  AND o.bayanus IS NOT NULL""", con)

,gene_name,mikatae,paradoxus,bayanus,cai,yeast_seq
0,YAL038W,133,366,146,0.893,ATGTCTAGATTAGAAAGATTGACCTCATTAAACGTTGTTGCTGGTT...
1,YBR181C,575,1733,1653,0.846,ATGAAGTTGAACATTTCTTACCCAGTCAACGGGTCTCAAAAGACCT...
2,YCR012W,2014,2464,2653,0.815,ATGTCTTTATCTTCAAAGTTGTCTGTCCAAGATTTGGACTTGAAGG...
3,YCR031C,1948,2539,2721,0.805,ATGTCTAACGTTGTTCAAGCTCGTGACAATTCCCAAGTTTTTGGTG...
4,YEL034W,5747,5869,6110,0.814,ATGTCTGACGAAGAACATACCTTTGAAACTGCTGACGCTGGTTCCT...
5,YGL123W,8023,8791,8164,0.801,ATGTCTGCTCCAGAAGCTCAACAACAAAAGAGAGGTGGTTTCGGTG...
6,YGL135W,8073,8842,8219,0.832,ATGTCTAAGATCACCTCTTCTCAAGTCAGAGAACACGTCAAGGAAT...
7,YGR254W,9167,9320,9559,0.871,ATGGCTGTCTCTAAAGTTTACGCTAGATCCGTCTACGACTCCCGTG...
8,YHL015W,9576,10453,23293,0.827,ATGTCTGACTTTCAAAAGGAAAAGGTTGAAGAACAAGAACAACAAC...
9,YHL033C,9483,10537,10119,0.842,ATGGCCCCAGGTAAGAAAGTCGCTCCAGCTCCATTCGGTGCTAAGT...
10,YHR174W,10272,9737,10953,0.892,ATGGCTGTCTCTAAAGTTTACGCTAGATCCGTCTACGACTCCCGTG...
11,YJL052W,12006,11467,7692,0.856,ATGATCAGAATTGCTATTAACGGTTTCGGTAGAATCGGTAGATTGG...
12,YJL190C,11505,12007,12309,0.812,ATGACCAGATCTTCCGTTTTAGCTGATGCTTTGAATGCCATTAACA...
13,YJR123W,12651,12748,13807,0.838,ATGTCTGACACCGAAGCTCCAGTTGAAGTTCAAGAAGATTTCGAAG...
14,YKL060C,13447,13709,14543,0.869,ATGGGTGTTGAACAAATCTTAAAGAGAAAGACCGGTGTCATCGTTG...
15,YKL152C,13136,14038,14168,0.811,ATGCCAAAGTTAGTTTTAGTTAGACACGGTCAATCCGAATGGAACG...
16,YLR355C,15884,15522,16470,0.802,ATGTTGAGAACTCAAGCCGCCAGATTGATCTGCAACTCCCGTGTCA...
17,YML024W,16317,17429,17865,0.810,ATGGGTAGAGTTAGAACCAAGACCGTCAAGCGTGCTTCTAAGGCTT...
18,YOL039W,19423,20163,22682,0.804,ATGAAGTACTTAGCTGCTTACCTATTATTGAACGCTGCTGGTAACA...
19,YOL086C,19645,19978,22315,0.811,ATGTCTATCCCAGAAACTCAAAAAGGTGTTATCTTCTACGAATCCC...
20,YOL120C,19772,19865,22100,0.812,ATGGGTATCGATCACACTTCCAAGCAACACAAGAGATCTGGTCACA...
21,YOR063W,19967,20560,22996,0.830,ATGTCTCACAGAAAGTACGAAGCACCACGTCACGGTCATTTAGGTT...
22,YOR369C,20601,21712,24125,0.844,ATGTCTGACGTTGAAGAAGTCGTTGAAGTTCAAGAAGAAACTGTTG...
23,YPL090C,21951,22560,25232,0.837,ATGAAGTTGAACATTTCTTACCCAGTTAACGGGTCTCAAAAGACCT...
24,YPL131W,21794,22413,25389,0.830,ATGGCTTTCCAAAAAGACGCTAAGTCCTCTGCTTACTCCTCTCGTT...
25,YPL220W,21446,22041,24818,0.821,ATGTCCAAGATCACTTCTTCTCAAGTCAGAGAACACGTCAAGGAAT...
26,YPR080W,22559,23137,25835,0.871,ATGGGTAAAGAGAAGTCTCACATTAACGTTGTCGTTATCGGTCATG...

__Exercise 3.__ Perform the same query as above, but this time include the chromosome number of the gene in the output.

In [13]:
pd.read_sql("""SELECT s1.gene_name AS gene_name,
       o.mikatae AS mikatae,
       o.paradoxus AS paradoxus,
       o.bayanus AS bayanus,
       c.CAI AS cai,
       s1.seq AS yeast_seq,
       g.chrom AS chrom_number
FROM sequences AS s1
JOIN orthologs AS o ON s1.gene_name = o.cerevisiae
JOIN cai AS c ON s1.gene_name = c.title
JOIN gff AS g ON s1.gene_name = g.acc
WHERE c.CAI > 0.8
  AND o.mikatae IS NOT NULL
  AND o.paradoxus IS NOT NULL
  AND o.bayanus IS NOT NULL""", con)

,gene_name,mikatae,paradoxus,bayanus,cai,yeast_seq,chrom_number
0,YAL038W,133,366,146,0.893,ATGTCTAGATTAGAAAGATTGACCTCATTAAACGTTGTTGCTGGTT...,chrI
1,YBR181C,575,1733,1653,0.846,ATGAAGTTGAACATTTCTTACCCAGTCAACGGGTCTCAAAAGACCT...,chrII
2,YCR012W,2014,2464,2653,0.815,ATGTCTTTATCTTCAAAGTTGTCTGTCCAAGATTTGGACTTGAAGG...,chrIII
3,YCR031C,1948,2539,2721,0.805,ATGTCTAACGTTGTTCAAGCTCGTGACAATTCCCAAGTTTTTGGTG...,chrIII
4,YEL034W,5747,5869,6110,0.814,ATGTCTGACGAAGAACATACCTTTGAAACTGCTGACGCTGGTTCCT...,chrV
5,YGL123W,8023,8791,8164,0.801,ATGTCTGCTCCAGAAGCTCAACAACAAAAGAGAGGTGGTTTCGGTG...,chrVII
6,YGL135W,8073,8842,8219,0.832,ATGTCTAAGATCACCTCTTCTCAAGTCAGAGAACACGTCAAGGAAT...,chrVII
7,YGR254W,9167,9320,9559,0.871,ATGGCTGTCTCTAAAGTTTACGCTAGATCCGTCTACGACTCCCGTG...,chrVII
8,YHL015W,9576,10453,23293,0.827,ATGTCTGACTTTCAAAAGGAAAAGGTTGAAGAACAAGAACAACAAC...,chrVIII
9,YHL033C,9483,10537,10119,0.842,ATGGCCCCAGGTAAGAAAGTCGCTCCAGCTCCATTCGGTGCTAAGT...,chrVIII
10,YHR174W,10272,9737,10953,0.892,ATGGCTGTCTCTAAAGTTTACGCTAGATCCGTCTACGACTCCCGTG...,chrVIII
11,YJL052W,12006,11467,7692,0.856,ATGATCAGAATTGCTATTAACGGTTTCGGTAGAATCGGTAGATTGG...,chrX
12,YJL190C,11505,12007,12309,0.812,ATGACCAGATCTTCCGTTTTAGCTGATGCTTTGAATGCCATTAACA...,chrX
13,YJR123W,12651,12748,13807,0.838,ATGTCTGACACCGAAGCTCCAGTTGAAGTTCAAGAAGATTTCGAAG...,chrX
14,YKL060C,13447,13709,14543,0.869,ATGGGTGTTGAACAAATCTTAAAGAGAAAGACCGGTGTCATCGTTG...,chrXI
15,YKL152C,13136,14038,14168,0.811,ATGCCAAAGTTAGTTTTAGTTAGACACGGTCAATCCGAATGGAACG...,chrXI
16,YLR355C,15884,15522,16470,0.802,ATGTTGAGAACTCAAGCCGCCAGATTGATCTGCAACTCCCGTGTCA...,chrXII
17,YML024W,16317,17429,17865,0.810,ATGGGTAGAGTTAGAACCAAGACCGTCAAGCGTGCTTCTAAGGCTT...,chrXIII
18,YOL039W,19423,20163,22682,0.804,ATGAAGTACTTAGCTGCTTACCTATTATTGAACGCTGCTGGTAACA...,chrXV
19,YOL086C,19645,19978,22315,0.811,ATGTCTATCCCAGAAACTCAAAAAGGTGTTATCTTCTACGAATCCC...,chrXV
20,YOL120C,19772,19865,22100,0.812,ATGGGTATCGATCACACTTCCAAGCAACACAAGAGATCTGGTCACA...,chrXV
21,YOR063W,19967,20560,22996,0.830,ATGTCTCACAGAAAGTACGAAGCACCACGTCACGGTCATTTAGGTT...,chrXV
22,YOR369C,20601,21712,24125,0.844,ATGTCTGACGTTGAAGAAGTCGTTGAAGTTCAAGAAGAAACTGTTG...,chrXV
23,YPL090C,21951,22560,25232,0.837,ATGAAGTTGAACATTTCTTACCCAGTTAACGGGTCTCAAAAGACCT...,chrXVI
24,YPL131W,21794,22413,25389,0.830,ATGGCTTTCCAAAAAGACGCTAAGTCCTCTGCTTACTCCTCTCGTT...,chrXVI
25,YPL220W,21446,22041,24818,0.821,ATGTCCAAGATCACTTCTTCTCAAGTCAGAGAACACGTCAAGGAAT...,chrXVI
26,YPR080W,22559,23137,25835,0.871,ATGGGTAAAGAGAAGTCTCACATTAACGTTGTCGTTATCGGTCATG...,chrXVI

__Exercise 4.__ Now generate a table with the number of genes per chromosome that have CAI larger than 0.5 and have orthologs in the other three yeast species.

In [15]:
pd.read_sql("""SELECT g.chrom AS chromosome,
       COUNT(s1.gene_name) AS num_genes
FROM sequences AS s1
JOIN orthologs AS o ON s1.gene_name = o.cerevisiae
JOIN cai AS c ON s1.gene_name = c.title
JOIN gff AS g ON s1.gene_name = g.acc
WHERE c.CAI > 0.5
  AND o.mikatae IS NOT NULL
  AND o.paradoxus IS NOT NULL
  AND o.bayanus IS NOT NULL
GROUP BY g.chrom""", con)

   chromosome  num_genes
0        chrI          3
1       chrII         12
2      chrIII          2
3       chrIV         11
4       chrIX          3
5        chrV         11
6       chrVI          5
7      chrVII         16
8     chrVIII          6
9        chrX         11
10      chrXI          6
11     chrXII         11
12    chrXIII          6
13     chrXIV          5
14      chrXV         15
15     chrXVI         10

__Exercise 5:__ Use the yeast genome gff file that we downloaded in class.

Read about the gff format and write a script that will create a database table with all the yeast genes and chromosomes. GFF files have all the annotation for a genome. For simplicity in our table we are only interested in the lines of the GFF files that give the coordinates of the chromosomes, genes, and tRNA genes. Your table should have the following columns: `ID number, Chromosome number, Start Position, End Position, Strand, Feature, Description`.

All this information should be readily available from the gff file, with the exception of the ID number, which is given as the "ID" in the last column, and you will have to process it a little bit. Again, only include in your table the yeast protein coding genes, tRNA coding genes, and chromosomes. Your final table should have one row per gene for a total of 6,923 rows.

Note that the description of several genes, and even some gene names contain special HTML characters, like %20. To convert these to text you should use the `unquote()` function of the `urllib` package. Do that before trying to use your regular expressions.

In [27]:
from urllib.parse import unquote

# data = pd.read_csv("gffTable.gff", sep="\t", names = ['chromNum', 'feature', 'start', 'end', 'strand', 'id'])

# # get rid of rows starting with #
# data = data.iloc[21:]

# # only select rows with gene, trna, or chromosome
# data = data[data[2].isin(['gene', 'tRNA_gene', 'chromosome'])]

# # process id number
# # data['id'] = data['id'].str[3:]
# data['id'] = data['id'].str[str.find("Name=", end) : str.find(";")]

# # Define a function to parse the ID number from the description
# # for row in data['id']
# #     splitnum = row.split(';')
# #     for idnum in splitnum:
# #         key, value = splitnum.split('=')
# #         if key == 'ID':
# #             return value

# # Select relevant columns and rename them
# data = data[[8, 0, 3, 4, 6, 'ID number']]
# data.columns = ['Description', 'Chromosome number', 'Start Position', 'End Position', 'Strand', 'ID number']

# data

# Read the GFF file into a DataFrame
data = pd.read_csv("gffTable.gff", sep="\t", names=['chromNum', 'SGD', 'feature', 'start', 'end','filler1', 'strand', 'filler2', 'id'])

# names=['chromNum', 'feature', 'start', 'end', 'strand', 'id']

# Filter out rows starting with #
data = data[~data['chromNum'].str.startswith('#')]

#index certain columns
data = data.iloc[:, [0, 2, 3, 4, 6, 8]]

# Filter relevant rows based on feature
data = data[data['feature'].isin(['gene', 'tRNA_gene', 'chromosome'])]

# Process ID number
data['ID number'] = data['id'].str.extract(r'ID=(.*?)(?:;|$)')

# Unquote special characters from description
data['id'] = data['id'].apply(unquote)

# Select relevant columns and rename them
data = data[['id', 'chromNum', 'start', 'end', 'strand', 'ID number']]
data.columns = ['Description', 'Chromosome number', 'Start Position', 'End Position', 'Strand', 'ID number']

data

/var/folders/30/4szhpxld7hqd3n_btxzk7k_80000gn/T/ipykernel_17629/2156920281.py:30: DtypeWarning: Columns (1,2,5,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("gffTable.gff", sep="\t", names=['chromNum', 'SGD', 'feature', 'start', 'end','filler1', 'strand', 'filler2', 'id'])

IndexError: positional indexers are out-of-bounds